/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "MaisonNeue";
  src: url("/assets/fonts/maison/MaisonNeue-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MaisonNeue";
  src: url("/assets/fonts/maison/MaisonNeue-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MaisonNeue";
  src: url("/assets/fonts/maison/MaisonNeue-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MaisonNeue";
  src: url("/assets/fonts/maison/MaisonNeue-DemiItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

html, body { height: 100%; }
body { margin: 0; font-family: "MaisonNeue", Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-body-content {
  height: 100%;
  overflow: auto;
}
